#table{
    padding-left: 20%;

}
#btn{
    padding-top: 10px;
}
input{
    width: 5%;
}
#errmsgchar{
    padding-right: 70%;
}
#errmsgage{
    padding-right: 50%;
}

#errmsg{
    padding-right: 75%;
}
#errmsga{
    padding-right: 80%;

}
#userform{
    padding-top: 23px;
    width: 700px;
}
